{% extends 'base.html' %}
{% block content %}
​​

<h3>link:  <a href='{{data["video_url"]}}'>{{data["video_url"]}}</a></h3>

<details>
  <summary>video script</summary>
    <p>{{data["text-context"]}}</p>
</details>

<h1>Perguntas Geradas</h1>

{% for item in data["questions"] %}  
  <details>
  <summary> {{item[0]|safe}} </summary>
  <p>{{ item[1]|safe }}  </p>
</details>
{% endfor %}


<style>

  h1, h3{text-align: center;}

  details {
  width: 80%;
  margin: 0 auto ;
  /* parte de baixo vulgo respostas */ 
  background:white;
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  color:white;
  padding: 1rem;
  display: block;
  /* mudar esse azul */
  background: #0078e7;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  user-select: none;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}


details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

/////////////////////////////////////////

body {
  background: #222;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 2rem;
}
</style>



{% endblock %}
